html {
    font-size: 62.5%;
}

button {
    margin: 15rem;
    padding: 10rem;
    border-color: blue;
    border-width: 0.5rem;
    border-bottom-left-radius: 9rem;
    border-top-right-radius: 9rem;
    font-size: 2rem;
    background: cadetblue;
    color: chartreuse;
}